.layout-footer {
    font-size: 14px !important;
    position: fixed;
    z-index: 997;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: margin-left $transitionDuration;
    padding: 0 80px;
    border-top: 1px solid var(--surface-border);

    .layout-footer-inner {
        padding: 13px 0;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;

        .footer-inner-left {
            a {
                // color: #666;
                margin: 0 5px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer-inner-right {
            display: flex;
            button {
                display: flex;
                align-items: center;
                white-space: nowrap;
                justify-content: space-between;
                box-sizing: border-box;

                &:hover {
                    text-decoration: underline;
                }
                svg {
                    margin: 0 4px;
                }
            }
            .layout-footer-button {
                padding: 0 7px;
                font-weight: 500;
            }
        }
    }

    .layout-footer-bottom {
        // padding-top: 5px;
        font-size: 10px;
        padding: 8px 0;
    }
}

.bidbd {
    height: 200px;
    background: rgb(182, 182, 248);
}
